<h2>New Book</h2>
<!-- <%-include('../partials/errorMessage.ejs')%> -->
<form action="/books" method="POST" enctype="multipart/form-data">
  <%-include('_formfield.ejs')%>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>
